# Pandas

## Лабораторная работа №2

## Выполнила: Бушуева К.Н.
__ПИ22-5__

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [151]:
import pandas as pd

recipes = pd.read_csv('recipes_sample.csv',delimiter = ',')
reviews = pd.read_csv('reviews_sample.csv',delimiter = ',')

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [152]:
print(f'recipes: {recipes.shape[0]} строк, {recipes.shape[1]} столбцов,', 'типы данных каждого столбца:',  f'{recipes.dtypes}', sep = '\n', end = '\n\n')
print(f'reviews: {reviews.shape[0]} строк, {reviews.shape[1]} столбцов,', f'типы данных каждого столбца:', f'{reviews.dtypes}', sep = '\n')

recipes: 30000 строк, 8 столбцов,
типы данных каждого столбца:
name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

reviews: 126696 строк, 6 столбцов,
типы данных каждого столбца:
Unnamed: 0     int64
user_id        int64
recipe_id      int64
date          object
rating         int64
review        object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [153]:
print('Для recipes: ')
print(recipes.isna().sum()[recipes.isna().sum() != 0], end = '\n\n')
print(f'Доля строк, содержащая пропуски: {((recipes.shape[0] - recipes.dropna().shape[0])/recipes.shape[0]) * 100}%', end = '\n\n')

print('Для reviews: ')
print(reviews.isna().sum()[reviews.isna().sum() != 0], end = '\n\n')
print(f'Доля строк, содержащая пропуски: {((reviews.shape[0] - reviews.dropna().shape[0])/reviews.shape[0]) * 100}%')

Для recipes:
n_steps          11190
description        623
n_ingredients     8880
dtype: int64

Доля строк, содержащая пропуски: 56.846666666666664%

Для reviews:
review    17
dtype: int64

Доля строк, содержащая пропуски: 0.013417945317926377%

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [154]:
print('Для recipes: ')
print(f'среднее значение для столбца minutes: {recipes["minutes"].mean(axis = 0)}', \
      f'среднее значение для столбца n_steps: {recipes["n_steps"].mean(axis = 0)}',\
      f'среднее значение для столбца n_ingredients: {recipes["n_ingredients"].mean(axis = 0)}', sep = '\n', end = '\n\n')
print('Для reviews: ')      
print(f'среднее значение для столбца rating: {reviews["rating"].mean(axis = 0)}')

Для recipes:
среднее значение для столбца minutes: 123.35813333333333
среднее значение для столбца n_steps: 9.805582137161085
среднее значение для столбца n_ingredients: 9.008285984848484

Для reviews:
среднее значение для столбца rating: 4.410802235271832

1.5 Создайте серию из 10 случайных названий рецептов.

In [155]:
recipes.sample(10)['name']

2456     batter fried shark  from strictly business fis...
27660                          to die for maple pecan buns
4554                                    candy cane martini
1162                              artichoke onion frittata
24261                         simple raisin sauce  for ham
17121                       marvelous maple walnut granola
7107                                  citrus chili chicken
28812                      venison with plums and calvados
25077            spaghetti with eggplant  aubergine  sauce
22135          ranch steak bruschetta salad  cooking light
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [156]:
reviews['Unnamed: 0'] = reviews.index
reviews

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,126691,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,126692,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,126693,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,126694,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,126695,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [157]:
recipes[(recipes['minutes'] <= 20) & (recipes['n_ingredients'] <= 5)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [158]:
recipes['submitted'] = pd.to_datetime(recipes.submitted, format = '%Y/%m/%d')

recipes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            30000 non-null  object
 1   id              30000 non-null  int64
 2   minutes         30000 non-null  int64
 3   contributor_id  30000 non-null  int64
 4   submitted       30000 non-null  datetime64[ns]
 5   n_steps         18810 non-null  float64
 6   description     29377 non-null  object
 7   n_ingredients   21120 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 1.8+ MB

In [159]:
import numpy as np

recipes = pd.read_csv('recipes_sample.csv', delimiter = ',', parse_dates = ['submitted'])
recipes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            30000 non-null  object
 1   id              30000 non-null  int64
 2   minutes         30000 non-null  int64
 3   contributor_id  30000 non-null  int64
 4   submitted       30000 non-null  datetime64[ns]
 5   n_steps         18810 non-null  float64
 6   description     29377 non-null  object
 7   n_ingredients   21120 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 1.8+ MB

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [160]:
recipes[recipes.submitted.dt.year <= 2010]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [161]:
recipes['description_length'] = pd.Series(recipes['description']).str.len()

recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [162]:
recipes.columns = recipes.columns.str.title()

recipes

,Name,Id,Minutes,Contributor_Id,Submitted,N_Steps,Description,N_Ingredients,Description_Length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [163]:
lst = recipes['Name'].str.split(' ')

for i in lst.index:
    lst[i] = [wrd for wrd in lst[i] if wrd]
    lst[i] = len(lst[i])

recipes['name_word_count'] = pd.Series(lst)

recipes

,Name,Id,Minutes,Contributor_Id,Submitted,N_Steps,Description,N_Ingredients,Description_Length,name_word_count
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [164]:
counter = pd.DataFrame({'ID номер': list(recipes['Contributor_Id'].value_counts().index), \
                        'количество рецептов': list(recipes['Contributor_Id'].value_counts())})


print(f'Участник с ID номером {counter["ID номер"][0]} добавил наибольшее количество рецептов - {counter["количество рецептов"][0]}',\
      sep = '\n\n')

counter

Участник с ID номером 89831 добавил наибольшее количество рецептов - 421

      ID номер  количество рецептов
0        89831                  421
1        37449                  346
2        37779                  345
3         1533                  186
4       169430                  183
...        ...                  ...
8399   1061628                    1
8400   1076183                    1
8401    429061                    1
8402     64032                    1
8403    186118                    1

[8404 rows x 2 columns]

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [165]:
reviews.groupby(reviews['user_id'])['rating'].mean()

user_id
1533          4.761905
1535          4.356322
1634          3.714286
1676          5.000000
1792          4.333333
                ...
2002369279    5.000000
2002369442    2.000000
2002370317    5.000000
2002370666    0.000000
2002371792    4.000000
Name: rating, Length: 44803, dtype: float64

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [166]:
counter2 = pd.DataFrame({'год': list(recipes['Submitted'].dt.year.value_counts().index), 'количество рецептов': list(recipes['Submitted'].dt.year.value_counts())})

counter2

     год  количество рецептов
0   2007                 4429
1   2008                 4029
2   2006                 3473
3   2005                 3130
4   2009                 2963
5   2002                 2644
6   2003                 2334
7   2004                 2153
8   2010                 1538
9   2011                  922
10  2012                  659
11  2001                  589
12  2013                  490
13  1999                  275
14  2014                  139
15  2000                  104
16  2015                   42
17  2017                   39
18  2016                   24
19  2018                   24

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [253]:
table = pd.concat((reviews, recipes), axis = 1)

In [252]:
zero_table = pd.DataFrame({'id': table['recipe_id'], 'name': table['Name'],\
                          'user_id': table['user_id'], 'rating': table['rating']})
zero_table

            id                                      name     user_id  rating
0        57993     george s at the cove  black bean soup       21752       5
1       142201        healthy for them  yogurt popsicles      431813       5
2       252013              i can t believe it s spinach      400708       4
3       404716                      italian  gut busters  2001852463       5
4       129396  love is in the air  beef fondue   sauces       95810       5
...        ...                                       ...         ...     ...
126691  335534                                       NaN     1270706       4
126692    8701                                       NaN     2282344       0
126693  222001                                       NaN      689540       5
126694  354979                                       NaN  2000242659       5
126695  415599                                       NaN      463435       5

[126696 rows x 4 columns]

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [170]:
first_table = pd.DataFrame({'recipe_id': table['recipe_id'], 'name': table['Name'], \
                           'review_count': table.groupby(table['recipe_id'])['review'].count()}).dropna (subset=['recipe_id'])
first_table['review_count'] = first_table['review_count']. fillna (0)

first_table.loc[first_table['name'] == 'schnitz peach pie']

       recipe_id               name  review_count
23688    57993.0  schnitz peach pie           0.0

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [232]:
second_table = pd.DataFrame(table.groupby(table['Submitted'].dt.year)['rating'].mean()).sort_values(by = 'rating', axis=0)

print(second_table, end = '\n\n')
print(f'Рецепты, добавленные в {int(second_table.index[0])} году имеют наименьший средний рейтинг - {second_table["rating"].iloc[0]}')

             rating
Submitted
2017.0     4.051282
2016.0     4.208333
2013.0     4.363265
2001.0     4.380306
2003.0     4.383462
2006.0     4.389577
2015.0     4.404762
2007.0     4.406864
2012.0     4.414264
2018.0     4.416667
2008.0     4.422189
2009.0     4.424232
2002.0     4.434569
2010.0     4.438231
2011.0     4.441432
2004.0     4.455643
2005.0     4.464856
1999.0     4.476364
2014.0     4.517986
2000.0     4.576923

Рецепты, добавленные в 2017 году имеют наименьший средний рейтинг - 4.051282051282051

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [240]:
save_file = recipes.sort_values(by='name_word_count', ascending=False)
save_file.to_csv(r'3.1-3.3.csv', index= False)

save_file

,Name,Id,Minutes,Contributor_Id,Submitted,N_Steps,Description,N_Ingredients,Description_Length,name_word_count
26223,subru uncle s whole green moong dal i ll be ma...,77188,95,6357,2003-11-21,NaN,my dad and mom quite enjoy this lentil curry. ...,15.0,343.0,15
28083,tsr version of t g i friday s black bean soup...,102274,75,74652,2004-10-19,9.0,from www.topsecretrecipes.com i got this copyc...,16.0,436.0,14
26222,subru uncle s toor ki dal sindhi style dad m...,76908,65,6357,2003-11-18,29.0,this is the lentil curry that subru uncle(our ...,15.0,1087.0,14
27876,top secret recipes version of i h o p griddl...,113346,20,175727,2005-03-14,5.0,this recipe is top secret recipes version of i...,9.0,129.0,14
5734,chicken curry or cat s vomit on a bed of magg...,294898,30,802799,2008-03-28,11.0,an old family recipe that's easy to make since...,12.0,144.0,13
...,...,...,...,...,...,...,...,...,...,...
3253,blackmoons,323195,430,415934,2008-09-04,5.0,my mom was a newlywed in the 1950s when she fo...,NaN,389.0,1
4138,bushwhacker,156521,10,177392,2006-02-17,1.0,this drink is an excellent after dinner drink ...,6.0,124.0,1
2357,basbousa,12957,60,18391,2001-10-20,NaN,this is a traditional middle eastern dessert. ...,NaN,78.0,1
15052,josefinas,264859,20,498271,2007-11-11,7.0,"from the junior league of corpus christi tx, t...",NaN,92.0,1
4710,caramels,143615,30,212088,2005-11-02,NaN,i've been making these at christmas time for y...,6.0,341.0,1

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [249]:
with pd.ExcelWriter(r'/Users/bshkrrr/Downloads/тод/лр2/Количество отзывов по рецептам.xlsx') as writer:
     first_table.to_excel(writer)

In [254]:
with pd.ExcelWriter(r'/Users/bshkrrr/Downloads/тод/лр2/Рецепты с оценками.xlsx') as writer:
     zero_table.to_excel(writer)